$disney-blue-primary: #0073e6;
$disney-blue-navlink: #365da8;
$disney-dark-text: #2c2c2c;

$white: #ffffff;
$black: #1a1a1a;
$light-gray-background: #f5f6f7;

$color-primary: $disney-blue-primary;
$color-accent: $disney-blue-navlink;
$color-background-dark: $black;
$color-background-light: $white;
$color-text-on-dark: $white;
$color-text-on-light: $disney-dark-text;
